langchain
pypdf
langchain-community
langchain-classic
langgraph
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-groq
chromadb
sqlalchemy
fastapi
python-jose
pwdlib
pwdlib[argon2]
psycopg2
sentence-transformers
langgraph-checkpoint-postgres
psycopg2[binary]
psycopg
psycopg[binary]